# Default
beautifulsoup4
fastapi
langchain
matplotlib
openai
pre-commit
psycopg[binary,pool]
pgvector
ray
sentence_transformers
slack_bolt
streamlit
typer

# Styling
black
flake8
Flake8-pyproject
isort
pyupgrade
