# Default
asyncpg
beautifulsoup4
fastapi
langchain
llama-index
matplotlib
openai
pre-commit
psycopg[binary,pool]
psycopg2-binary
pgvector
python-dotenv
ray
sentence_transformers
slack_bolt
sqlalchemy[asyncio]
streamlit
typer
tiktoken

# Styling
black
flake8
Flake8-pyproject
isort
pyupgrade
